.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-image: url("https://images.wikia.nocookie.net/__cb46/simpsons/images/5/50/Wiki-background");
  background-color: aliceblue;
  background-position: center;
  background-size: cover;
}
#titleText {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* .container {
  width: 65%;
} */
